/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
